<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>Asana.md</string>
		</array>
		<array>
			<string>Sketch.md</string>
		</array>
		<array>
			<string>Quiver.md</string>
		</array>
		<array>
			<string>XCode.md</string>
		</array>
		<array>
			<string>Pixate.md</string>
		</array>
		<array>
			<string>woopra.md</string>
		</array>
		<array>
			<string>Ulysses.md</string>
		</array>
		<array>
			<string>axenture.md</string>
		</array>
		<array>
			<string>Balsamiq-Mockups.md</string>
		</array>
		<array>
			<string>Basecamp.md</string>
		</array>
		<array>
			<string>briefscase.md</string>
		</array>
		<array>
			<string>Copyless.md</string>
		</array>
		<array>
			<string>Deckset.md</string>
		</array>
		<array>
			<string>Dramaqueen.md</string>
		</array>
		<array>
			<string>Dropbox.md</string>
		</array>
		<array>
			<string>Evernote.md</string>
		</array>
		<array>
			<string>Facebook Ad Manager.md</string>
		</array>
		<array>
			<string>adjust.md</string>
		</array>
		<array>
			<string>Facebook-Audience-Insights.md</string>
		</array>
		<array>
			<string>Feedly.md</string>
		</array>
		<array>
			<string>Flow.md</string>
		</array>
		<array>
			<string>Github.md</string>
		</array>
		<array>
			<string>Google-Analytics.md</string>
		</array>
		<array>
			<string>Google-Docs.md</string>
		</array>
		<array>
			<string>Google-Formulare.md</string>
		</array>
		<array>
			<string>Google-Keyword-Planner.md</string>
		</array>
		<array>
			<string>Google-Maps-Api.md</string>
		</array>
		<array>
			<string>Google-Tabellen.md</string>
		</array>
		<array>
			<string>Hemmingway.md</string>
		</array>
		<array>
			<string>hopscotch.md</string>
		</array>
		<array>
			<string>Hubspot.md</string>
		</array>
		<array>
			<string>instapaper.md</string>
		</array>
		<array>
			<string>Invision.md</string>
		</array>
		<array>
			<string>Kaleidoscope.md</string>
		</array>
		<array>
			<string>klout.md</string>
		</array>
		<array>
			<string>Little-Ipsum.md</string>
		</array>
		<array>
			<string>Mailchimp.md</string>
		</array>
		<array>
			<string>Mandrill.md</string>
		</array>
		<array>
			<string>Mapbox.md</string>
		</array>
		<array>
			<string>Optimizely.md</string>
		</array>
		<array>
			<string>Photoshop.md</string>
		</array>
		<array>
			<string>Picreel.md</string>
		</array>
		<array>
			<string>Pinegrow.md</string>
		</array>
		<array>
			<string>Pingendo.md</string>
		</array>
		<array>
			<string>Pocket.md</string>
		</array>
		<array>
			<string>Pop.md</string>
		</array>
		<array>
			<string>Questfox.md</string>
		</array>
		<array>
			<string>Reflector.md</string>
		</array>
		<array>
			<string>scompler.md</string>
		</array>
		<array>
			<string>Scrivener.md</string>
		</array>
		<array>
			<string>social-Bench.md</string>
		</array>
		<array>
			<string>Sublime-Text.md</string>
		</array>
		<array>
			<string>surveymonkey.md</string>
		</array>
		<array>
			<string>Terminal.md</string>
		</array>
		<array>
			<string>Tools.md</string>
		</array>
		<array>
			<string>Trello.md</string>
		</array>
		<array>
			<string>Write.md</string>
		</array>
		<array>
			<string>Writer-Pro.md</string>
		</array>
		<array>
			<string>Wunderlist.md</string>
		</array>
	</array>
</dict>
</plist>
