<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>Books.md</string>
		</array>
		<array>
			<string>Data Unser.md</string>
		</array>
		<array>
			<string>The Inmates Are Running the Asylum.md</string>
		</array>
		<array>
			<string>Interactive Storytelling.md</string>
		</array>
		<array>
			<string>Chris Crawford on Interactive Storytelling.md</string>
		</array>
		<array>
			<string>Lean Startup.md</string>
		</array>
		<array>
			<string>Primal Branding.md</string>
		</array>
		<array>
			<string>Start with why.md</string>
		</array>
		<array>
			<string>Porn for Bankers.md</string>
		</array>
		<array>
			<string>Das Drehbuch zum Drehbuch.md</string>
		</array>
		<array>
			<string>Story.md</string>
		</array>
	</array>
</dict>
</plist>
