<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>5-mal-Warum.md</string>
		</array>
		<array>
			<string>Ohne Titel.md</string>
		</array>
		<array>
			<string>Agile.md</string>
		</array>
		<array>
			<string>Brainstorming.md</string>
		</array>
		<array>
			<string>Businessmodel-Canvas.md</string>
		</array>
		<array>
			<string>Content-Excellence.md</string>
		</array>
		<array>
			<string>Content-is-King.md</string>
		</array>
		<array>
			<string>APIs.md</string>
		</array>
		<array>
			<string>Customer-Journey.md</string>
		</array>
		<array>
			<string>Design-Thinking.md</string>
		</array>
		<array>
			<string>Gamification.md</string>
		</array>
		<array>
			<string>Incentivierung.md</string>
		</array>
		<array>
			<string>inneres-Konzeptteam.md</string>
		</array>
		<array>
			<string>Interactive-Storytelling.md</string>
		</array>
		<array>
			<string>Interviews.md</string>
		</array>
		<array>
			<string>Kill-your-Darlings.md</string>
		</array>
		<array>
			<string>KPIs.md</string>
		</array>
		<array>
			<string>Lean-Publishing.md</string>
		</array>
		<array>
			<string>Lean.md</string>
		</array>
		<array>
			<string>Mehrwerte.md</string>
		</array>
		<array>
			<string>methoden.md</string>
		</array>
		<array>
			<string>MVC.md</string>
		</array>
		<array>
			<string>MVP.md</string>
		</array>
		<array>
			<string>Personas.md</string>
		</array>
		<array>
			<string>Rapid-Prototyping.md</string>
		</array>
		<array>
			<string>RB-Profiler.md</string>
		</array>
		<array>
			<string>Reissprofile.md</string>
		</array>
		<array>
			<string>Reverse-Engineering.md</string>
		</array>
		<array>
			<string>Scrum.md</string>
		</array>
		<array>
			<string>Shadowing.md</string>
		</array>
		<array>
			<string>The-Idea-in-a-Nutshell.md</string>
		</array>
		<array>
			<string>Umfragen.md</string>
		</array>
		<array>
			<string>UML.md</string>
		</array>
		<array>
			<string>Userstories.md</string>
		</array>
		<array>
			<string>Viral-Loop.md</string>
		</array>
	</array>
</dict>
</plist>
