<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>stellenanzeige_01.md</string>
		</array>
		<array>
			<string>stellenanzeige_02.md</string>
		</array>
		<array>
			<string>stellenanzeige_03.md</string>
		</array>
		<array>
			<string>stellenanzeige_04.md</string>
		</array>
		<array>
			<string>stellenanzeige_05.md</string>
		</array>
	</array>
</dict>
</plist>
